cycler==0.10.0
kiwisolver==1.3.1
llvmlite==0.35.0
mathx==0.2.1
matplotlib==3.3.3
numba==0.52.0
numpy==1.19.4
opencv-python==4.4.0.46
pandas==1.1.5
Pillow~=8.2.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqtgraph==0.11.0
pyqtgraph-extensions==0.5.2
python-dateutil==2.8.1
pytz==2020.4
scipy==1.6.0
six==1.15.0

PySide2~=5.15.2
boto3~=1.17.62